@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
.title {
  color: white;
  text-align: center;
  margin-top: 20vh;
}

.wrapper {
  margin-top: 5vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  grid-column-gap: 4em;
  grid-row-gap: 4em;
  padding: 2em;
}

.wrapper a {
  text-decoration: none;
}

#wrapped-text {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.shop h2 {
  font-size: 1.3em;
  margin-top: 0.5em;
  color: white;
}

.shop h3 {
  font-size: 1em;
  margin-top: 0.3em;
  color: white;
}

.shop p {
  margin-top: 1em;
  color: white;
  font-size: 0.9em;
}

.shop img {
  width: 100%;
  border-radius: 0.6em;
}

.navMenu {
  position: absolute;
  top: 3em;
  right: 2em;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: transparent;
}

.navMenu a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 90px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #6b705c;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #6b705c;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(22px);
  transform: translateX(22px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(22px);
  transform: translateX(22px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(120px);
  transform: translateX(120);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(221px);
  transform: translateX(221x);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.about {
  margin-top: 15vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
}

.about h1 {
  color: white;
  font-size: 2.3em;
  margin: 1.7em;
  margin-bottom: 0.4em;
}

.about p {
  color: white;
  font-size: 1.7em;
  line-height: 1.7em;
  margin: 2.4em;
  margin-top: 0;
}

.about img {
  margin-top: 10vh;
  width: 70%;
  overflow: hidden;
}

.about a {
  color: white;
}

.first {
  height: 100vh;
}

.first img {
  width: 100%;
  height: auto;
  margin-top: 11vh;
}

.first h1 {
  position: absolute;
  top: 54%;
  left: 52%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: transparent;
  color: white;
  font-size: 4em;
}

.second {
  height: 80vh;
  margin-top: 15vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.second p {
  color: white;
  font-size: 1.6em;
  margin: 8em;
}

.second img {
  width: 60%;
  margin: 5em;
}

.second a {
  color: white;
}

.third {
  height: 70vh;
  color: white;
  margin-top: 5vh;
}

.third h1 {
  text-align: center;
  font-size: 3.5em;
}

.third ul {
  font-size: 1.8em;
  padding: 2em;
  line-height: 2em;
  margin-left: 3em;
  list-style-type: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #b7b7a4;
  font-family: "Montserrat", sans-serif;
}
/*# sourceMappingURL=style.css.map */